:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  kor-spinner {
    flex: 1;
  }
  > * + * {
    margin-top: 16px;
  }
  > img {
    overflow: hidden;
    width: calc(100% + 32px);
    margin: -16px -16px 0 -16px;
    height: 240px;
    max-height: 50%;
    object-fit: scale-down;
    background-color: black;
    border-radius: 4px;
  }
  .suggestions {
    margin: -16px;
    padding: 16px;
    margin-top: 0px;
    overflow: auto;
    flex: 1;
    kor-card {
      + kor-card {
        margin-top: 8px;
      }
      > kor-text[slot='footer'] {
        flex: 1;
      }
      > kor-progress-bar[slot='footer'] {
        max-width: 80px;
        margin: 0;
      }
      min-height: fit-content;
      .thumbnails {
        margin: 0;
        display: flex;
        overflow: auto;
        > img {
          overflow: hidden;
          width: fit-content;
          border-radius: 4px;
          height: 100%;
          margin: 0;
          height: auto;
          flex: 1;
          object-fit: cover;
          cursor: pointer;
          opacity: 0.8;
          transition: 0.1s all ease-in-out;
          &:hover {
            opacity: 1;
          }
        }
        > * + * {
          margin-left: 8px;
        }
      }
    }
  }
}
