/* You can add global styles to this file, and also import other style files */
* {
  --base-1: 216, 232, 240 !important;
  --accent-1: 113, 106, 202 !important;
  --accent-1b: 123, 116, 212 !important;
  --accent-1c: 103, 96, 192 !important;
}