/* You can add global styles to this file, and also import other style files */
* {
  --accent-1: 25, 175, 75 !important;
  --accent-1b: 35, 185, 85 !important;
  --accent-1c: 15, 165, 65 !important;
}